.option {
    display:inline-block;
    margin:10px;
     border: 1px solid #CCC; 

    box-shadow: #CCC 0px 0px 5px 1px inset;
    line-height:40px;
    min-width:150px;
    
}
    .option > label {
        text-decoration: none;
        font-weight:bold;
        font-size:1em;
        margin-left:2px; 
    }
.s-checkbox {
    margin-bottom:5px;
    margin-left:10px;

}
