<div id="container-divorce-application" class="container">

    @using (@Ajax.BeginForm("DivorceApplication", "Home", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Test", InsertionMode = InsertionMode.Replace, LoadingElementId = "loadingDiv", OnBegin = "onBegin", OnSuccess = "onSuccess" }, new { id = "formDivorce" }))
    {
        <div id="husband-details">

            @Html.Action("DivorcePersonDetails","Helper",new{ type="Husband"})

        </div>
        <div id="wife-details">
             @Html.Action("DivorcePersonDetails","Helper",new{ type="Wife"})

        </div>
        
        <div id="common-details">


        </div>
        
        <div id="container-divorce-buttons">
            <button id="GenerateDivorceAppBtn" class="btn btn-info">Genereaza cerere</button>
        </div>
    }

</div>
<script>


    var onBegin = function (data) {
    };
    var onSuccess = function (data) {
    };
</script>
<link href='@Url.Content("~/Content/home/divorce_app.css")' rel="stylesheet" />
