<script type="text/javascript">

  


 </script>
@section AddToHead{
    <link href='@Url.Content("~/Content/home/index_home.css")' rel="stylesheet" />
}

<div id="infoMessage " class="alert alert-info" style="float:left;">
    1. Cererile pentru intocmirea unui act notarial electronic pot fi inaintate notarului public, in forma electronica, in acest caz fiind semnate cu semnatura electronica extinsa a solicitantului. <br />
    2. In cazul in care cererea este facuta prin reprezentant, se va anexa actul in baza caruia partile sunt reprezentate, care poate fi si in forma electronica daca este semnat cu semnatura electronica extinsa a partilor.

</div>
<div id="errorMessage" style="float:left; margin-left:30px; margin-right: 60px;"></div>




<div class="progressBar">
<div class="status"></div>
</div>


<div id="areaContainerUpload" >
           
        <div id="areaContainerUploadToggle">
           
          <i class="icon-chevron-up"></i>
        </div>  
    <div id="messageContainerUpload">
        <span id="headerMessageContainerUpload">
        Incarcare fisiere
        </span>

    </div>
    
    <div id="areaToUpload">
    
    <div id="dragAndDropFiles" class="uploadArea hero-unit" style="margin-left:30px;">
        <p style="text-align:center;">Realizati drag and drop in aceasta zona pentru a incarca fisierele dorite</p>
        <p style="text-align:center; color: grey;">(fisierele trebuie sa fie in format pdf si sa contina semnatura electronica extinsa) </p>
    </div>
    <form name="demoFiler" id="demoFiler" enctype="multipart/form-data" style="margin-left:10px;">
        <input type="file" name="multiUpload" id="multiUpload" multiple="multiple" />
        <input type="submit" name="submitHandler" id="submitHandler" value="Upload" class="btn btn-info"/>
    </form>
    </div>  
    <div class="clear-all"></div>
                   
</div>


@section AddToBottom{
    <script src='@Url.Content("~/Scripts/home/home.js")'></script>
    <script>

        $(function () {
            addEvents();
        });

        var myFunction = function (element) {
            var relDiv = element.id.split(':')[0];
            if (confirm("Sunteti sigur ca doriti  sa stergeti acest fisier")) {
                $(".dfiles[rel='" + relDiv + "']").remove();
            }
        }

        var config = {
            // Valid file formats
            //support: "image/jpg,image/png,image/bmp,image/jpeg,image/gif",
            support: "application/pdf",
            form: "demoFiler", // Form ID
            dragArea: "dragAndDropFiles", // Upload Area ID
            uploadUrl: '@Url.Content("~/Home/Upload")' // Server side file url
    };
    //Initiate file uploader.
    $(document).ready(function () {
        initMultiUploader(config);

    });

      


    </script>
}



