@model Dictionary<string,long>
<div id="user-sec">
    <label> Puncte de securitate per utilizator </label>
@{
    string state="";
    foreach(var q in Model){
        if(q.Value == 1){
            state="checked";
        }
        else{
            state = "unchecked";
        }
        string id = q.Key + "_user";
        <div class="option"><label style="display:inline-block"> @q.Key </label>  <input type = "checkbox" class="s-checkbox" id = "@id" name="@id'" value = "@q.Key" @state/></div>
    }
}
</div>
<script>


   

</script>