.inputDetails {
    font-size:0.8em;
    font-weight:bold;
    display: inline-block;
    line-height:24px;
}
.labelinput {
    display: inline-block;
    min-width:150px;
    font-size:1em;
   
}

.inputdetails input {
    width: 200px;
}

#husband-details > input {
    width:150px;
}

#husband-details, #wife-details, #common-details {
    float:left;
    width:30%;
    margin-right:10px;
    margin-left:20px;
}

.daType {
    margin:30px;
    font-weight:bold;
    font-size:1.5em;
}

#container-divorce-application {

}

#GenerateDivorceAppBtn {
    margin-left:20px;
}
.mini-container {
    max-width:400px;
    margin:10px;
}
#buttons {
    margin-top:30px;
}