@model eNotaryWebRole.Models.UnsignedDocumentsViewModel


<h2>Index</h2>
<div id ="documentTree" style="float:left;width:30%; margin-left:3%;">
    @Html.Action("Index", "Tree")

</div>
<div id="documentListed" style="float:right;width:65%;">

    <iframe src="" frameborder="0" id="listDoc" style="width:100%; height:700px;"></iframe>
    </div>

<script>


</script>
