@model eNotaryWebRole.Models.UnsignedDocumentsViewModel


<h2>Index</h2>
<div id ="documentTree" style="float:left;width:50%; margin-left:3%;">
    @Html.Action("Index", "Tree")

</div>
<div id="list" style="float:left;width:50%;">

@{
    foreach (var item in Model.List)
    {
        string link = @item.ToString().Split('/')[5];
       <a href="@item.ToString()">@link</a><br/>
    }
}
    </div>
