#btnCreateNewUser {
    float:left;
    text-decoration: none;
    
    right:0;
    bottom: 0;
    margin-left:10px;
    margin-bottom:10px;
}
    #btnCreateNewUser > a {
        text-decoration:none;
    }

#grid >input {
    line-height:30px;
}
#gs_FirstName, #gs_LastName,#gs_Email, #gs_TelephoneNumber,#gs_Username {
    height:30px;
}
.ui-pg-selbox {
   line-height:30px;
}
.box-container {
        background-color: #F5F5F5;
   
    bottom: 0;
    right: 0;
    z-index:1;

    border: 1px solid #CCC;
    

    box-shadow: #CCC 0px 0px 5px 1px inset;
}
.link {
    text-decoration:none;
}
.disabled{
    pointer-events: none;
    /* for "disabled" effect */
    opacity: 0.5;
    background: #CCC;
}

